In [6]:
import pandas as pd
import requests
from datetime import datetime

# OpenWeatherMap API URL

In [26]:

api_key = 'f3f1c92125a43fe29b71b12dc4feb12b'
city_name = 'London'  

api_url = f'http://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={api_key}'

# Fetch data from the API

In [27]:
response = requests.get(api_url)
data = response.json()

# Create a DataFrame from the data

In [28]:
df = pd.DataFrame(weather_data)
num_users = 50 
user_data = get_random_user_data(num_users)

# Save the DataFrame to a CSV file

In [29]:
df.to_csv('weather_dataset.csv', index=False)

print("Dataset created and saved as 'weather_dataset.csv'")

Dataset created and saved as 'weather_dataset.csv'

In [30]:
df

       City  Temperature (Celsius)  Humidity (%) Weather Description
0    London                   5.99            91     overcast clouds
1  New York                   7.22            66       broken clouds
2     Tokyo                   8.59            84       broken clouds
3    Sydney                  19.11            82           clear sky
4     Paris                   5.88            74          light rain